/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reset */

/* Header */

.header-row{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left-row, .header-right-row{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-links{
    text-decoration: none;
    padding: 0 30px;
    font-size: 16px;
}

.button-01{
    background-color: #0061ff;
    color: white;
    height: 30px;
    width: 70px;
}

/* Header */

/* Main */

.main-section-01{
    height: 740px;
    background-color: #b4d0e7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-m-s-01{
    height: 700px;
    width: 1270px;
    background-color: yellow;
}

/* Main */