/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

/* Reset */

/* Header */

.header-row {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left-row,
.header-right-row {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-links {
    text-decoration: none;
    padding: 0 30px;
    font-size: 13px;
}

.button-01 {
    background-color: #0061ff;
    color: white;
    height: 30px;
    width: 70px;
}

/* Header */

/* --------------------------------*/

/* Main */

/* Section-01 */

.background-section-01 {
    height: 720px;
    background-color: #b4d0e7;

}

.main-box-01 {
    width: auto;
    height: 500px;
    display: flex;
    justify-content: center;
}

.box-ms-01 {
    height: 480px;
    width: 1230px;
    display: flex;
    justify-content: center;
}

.titolo-ms-01 {
    font-size: 60px;
    padding-top: 80px;
    text-align: center;
}

/* --------------------------------*/

.small-box-01 {
    padding-top: 60px;
    width: 30%;
    padding-left: 50px;
}

.paragrafo {
    padding-top: 30px;
}

.arrow {
    font-size: 50px;
    padding-top: 25px;
}

.button-02 {
    background-color: #0061ff;
    color: white;
    height: 30px;
    width: 200px;
    border: none;
}


/* --------------------------------*/

.small-box-02 {
    padding-top: 60px;
    width: 70%;
}

.jumbo {
    width: 100%;
}

/* --------------------------------*/


/* Fine-Section-01 */


/* Section-02 */


.background-section-02 {
    height: 1300px;
}

.titolo-scelta {
    position: relative;
}

.titolo-ms-02 {
    font-size: 30px;
    padding-top: 80px;
    text-align: center;
}

.choice-01 {
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 625px;
    padding-top: 50px;
}

.choice-02 {
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 950px;
    padding-top: 50px;
}

.main-box-choice {
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.box-choice {
    width: 300px;
    height: 870px;
    border: 1px solid grey;
}

.box-mini {
    border: 0.5px solid grey;
    height: 40px;
    padding-top: 10px;
    text-align: center;
}

.padding {
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 25px;
    line-height: 25px;
}

.padding-02 {
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 25px;
    line-height: 35px;
}

hr {
    width: 20%;
}

.fa-check {
    color: blue;
    font-size: 15px;
}

/* Fine-Section-02 */

























/* Main */